

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
li{float:none;}
li a{
    color: azure;
    display:block;
    padding: 8px;
    background-color:rgb(127, 92, 252);
}
