
/*ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}
li{float:none;}
li a{
    color: azure;
    display:block;
    padding: 8px;
    background-color:rgb(127, 92, 252);
}*/

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: Imagenes/bmw-1313343_640.jpg;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: black;
}
nav a{
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
    padding: 25px 0;
}
nav a:hover{
    color: black;
    background-color: aqua;
}